body {
    background: rgb(73, 73, 77);
}

h1 {
    color: red;
    font-size: 50px;
}

p {
    font-size: 25px;
}

.paragraphe {
    color: white;
    border: solid 1px red;
    border-radius: 10px;
    background-color: orange;
    display: inline-block;
}

a {
    color: green;
}

a:visited {
    color: yellow;
}

a:hover {
    color: black;
    text-decoration: none;
    font-size: 40px;
}

img {
    
}